
<div>
  <h2 id="something-for-everyone">Something for everyone</h2>
  <div class="advanced-tabs">
    <div>
      <div>
        <ul>
          <li>Authors</li>
          <li>Developers</li>
          <li>Agents</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section-metadata">
    <div>
      <div>style</div>
      <div>center, dark-scheme</div>
    </div>
    <div>
      <div>spacing</div>
      <div>xxl</div>
    </div>
    <div>
      <div>background</div>
      <div>
        <picture>
          <source type="image/webp" srcset="./media_167550f6c079443db28087205a93dcfc68e36eb68.jpg?width=2000&#x26;format=webply&#x26;optimize=medium" media="(min-width: 600px)">
          <source type="image/webp" srcset="./media_167550f6c079443db28087205a93dcfc68e36eb68.jpg?width=750&#x26;format=webply&#x26;optimize=medium">
          <source type="image/jpeg" srcset="./media_167550f6c079443db28087205a93dcfc68e36eb68.jpg?width=2000&#x26;format=jpg&#x26;optimize=medium" media="(min-width: 600px)">
          <img loading="lazy" alt="" src="./media_167550f6c079443db28087205a93dcfc68e36eb68.jpg?width=750&#x26;format=jpg&#x26;optimize=medium" width="2000" height="1022">
        </picture>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="columns gap-xxl">
    <div>
      <div><a href="https://www.youtube.com/watch?v=X4N-gZlmSlI">https://www.youtube.com/watch?v=X4N-gZlmSlI</a></div>
      <div>
        <h2 id="maybe-you-want-to-have-a-bit-of-text-next-to-a-video">Maybe you want to have a bit of text next to a video.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
      </div>
    </div>
  </div>
  <div class="section-metadata">
    <div>
      <div>style</div>
      <div>center, container</div>
    </div>
    <div>
      <div>spacing</div>
      <div>xxl</div>
    </div>
    <div>
      <div>gap</div>
      <div>xxl</div>
    </div>
  </div>
</div>
<div>
  <div class="card">
    <div>
      <div>
        <p>
          <picture>
            <source type="image/webp" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=2000&#x26;format=webply&#x26;optimize=medium" media="(min-width: 600px)">
            <source type="image/webp" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=750&#x26;format=webply&#x26;optimize=medium">
            <source type="image/jpeg" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=2000&#x26;format=jpg&#x26;optimize=medium" media="(min-width: 600px)">
            <img loading="lazy" alt="A fast-moving Tunnel" src="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=750&#x26;format=jpg&#x26;optimize=medium" width="1600" height="909">
          </picture>
        </p>
        <p><strong>Cards</strong></p>
        <p>What if you could have cards inside a tab?</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div>
      <div>
        <p>
          <picture>
            <source type="image/webp" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=2000&#x26;format=webply&#x26;optimize=medium" media="(min-width: 600px)">
            <source type="image/webp" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=750&#x26;format=webply&#x26;optimize=medium">
            <source type="image/jpeg" srcset="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=2000&#x26;format=jpg&#x26;optimize=medium" media="(min-width: 600px)">
            <img loading="lazy" alt="A fast-moving Tunnel" src="./media_1300083772e9645ea9463e3ff16e3a87fec824b7c.jpg?width=750&#x26;format=jpg&#x26;optimize=medium" width="1600" height="909">
          </picture>
        </p>
        <p><strong>Different colors</strong></p>
        <p>What if you want a tab to have a different color? Turns out you already know how to do with section metadata.</p>
      </div>
    </div>
  </div>
  <div class="section-metadata">
    <div>
      <div>grid</div>
      <div>2</div>
    </div>
    <div>
      <div>gap</div>
      <div>xxl</div>
    </div>
    <div>
      <div>spacing</div>
      <div>xxl</div>
    </div>
    <div>
      <div>style</div>
      <div>container</div>
    </div>
    <div>
      <div>background</div>
      <div>rgb(0 0 0 / 10%)</div>
    </div>
  </div>
</div>
<div>
  <div class="columns align-top gap-xxl">
    <div>
      <div>
        <h2 id="you-dont-just-have-to-be-a-human">You don't just have to be a human.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
      </div>
      <div>
        <h2 id="even-ai-agents-can-feel-at-home-with-author-kit">Even AI agents can feel at home with Author Kit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia.</p>
      </div>
    </div>
  </div>
  <div class="section-metadata">
    <div>
      <div>spacing</div>
      <div>xxl</div>
    </div>
    <div>
      <div>style</div>
      <div>container</div>
    </div>
  </div>
</div>
