<div><h2 id="why-cvent">Why Cvent</h2>
<p><img src="https://www.cvent.com/sites/default/files/styles/max_560w/public/image/2022-06/Artboard%20%E2%80%93%2017.png?itok=8dq8qCmn" alt="A pixelated image of a person in blue and purple, with a black outline, on a black background."></p>
<p><strong>24/7 support</strong> from our ~1,800 customer success team</p>
<p><img src="https://www.cvent.com/sites/default/files/styles/max_560w/public/image/2022-06/Artboard%20%E2%80%93%2020_0.png?itok=pGiOD7Fs" alt="A blue building with the letter &#x22;III&#x22; on it, placed on a black background with a blue outline."></p>
<p>Over <strong>7 million</strong> events managed</p>
<p><img src="https://www.cvent.com/sites/default/files/styles/max_560w/public/image/2022-06/Artboard%20%E2%80%93%2014.png?itok=VHrAm5pK" alt="A blue star icon with a letter E in the middle on a black background."></p>
<p>Trusted by <strong>over half of Fortune 500 companies</strong></p>
<p><img src="https://www.cvent.com/sites/default/files/styles/max_560w/public/image/2022-06/Artboard%20%E2%80%93%2019.png?itok=aeGyAz_z" alt="A pixelated image of a hand holding a puzzle piece with a plus sign on it."></p>
<p>Our <strong>security and privacy</strong> teams protect your data</p></div>