
<div>
  <p><strong>ABOUT</strong></p>
  <ul>
    <li><a href="/en/company-overview">About Cvent</a></li>
    <li><a href="/en/cvent-news-and-press-releases">Newsroom</a></li>
    <li><a href="/en/event-marketing-management/accessibility">Accessibility</a></li>
    <li><a href="/en/event-management-software/cvent-pricing">Pricing</a></li>
  </ul>
</div>
<div>
  <p><strong>WORK WITH US</strong></p>
  <ul>
    <li><a href="https://careers.cvent.com/">Careers</a></li>
    <li><a href="/en/become-partner">Cvent Partners</a></li>
    <li><a href="https://careers.cvent.com/life-at-cvent">Diversity</a></li>
  </ul>
</div>
<div>
  <p><strong>CONTACT</strong></p>
  <ul>
    <li><a href="/en/contact-us">Contact sales</a></li>
    <li><a href="/en/contact/support">Contact support</a></li>
  </ul>
</div>
