
<div>
  <p><strong>Content</strong></p>
  <ul>
    <li>Sections</li>
    <li>Buttons</li>
    <li>Images</li>
    <li>Fragments</li>
    <li>Modal</li>
  </ul>
</div>
<div>
  <p><strong>Blocks</strong></p>
  <ul>
    <li>Card</li>
    <li>Columns</li>
    <li>Hero</li>
    <li>Table</li>
    <li>YouTube</li>
  </ul>
</div>
<div>
  <p><strong>Utilities</strong></p>
  <ul>
    <li>Schedule content</li>
    <li>Search</li>
  </ul>
  <p><em><strong><a href="https://www.adobe.com">Visit Adobe</a></strong></em></p>
</div>
<div>
  <p><a href="/schedules/header-promo.json">https://main--author-kit--aemsites.aem.live/schedules/header-promo.json</a></p>
</div>
