
<div>
  <p><strong>ATTRACT MEETING PLANNERS</strong></p>
  <ul>
    <li><a href="/en/supplier-venue/advertising">Digital ads</a></li>
    <li><a href="/en/supplier-venue/planner-navigator">Prospect planners</a></li>
    <li><a href="/en/cvent-connect/sponsor-and-exhibit">Promote in person</a></li>
    <li><a href="/en/supplier-venue/cvent-vendor-marketplace">Vendor marketplace</a></li>
  </ul>
</div>
<div>
  <p><strong>CONVERT RFPs</strong></p>
  <ul>
    <li><a href="/en/supplier-venue/3d-virtual-tour-software">Showcase meeting space</a></li>
    <li><a href="/en/supplier-venue/new-smart-custom-proposals">Customize proposals</a></li>
    <li><a href="/en/supplier-venue/instant-book">Capture instant bookings</a></li>
    <li><a href="/en/supplier-venue/hotel-rfp-management">Manage group RFPs</a></li>
  </ul>
</div>
<div>
  <p><strong>MANAGE EVENT BOOKINGS</strong></p>
  <ul>
    <li><a href="/en/supplier-venue/event-diagramming-software">3D diagramming</a></li>
    <li><a href="/en/supplier-venue/passkey">Manage room blocks</a></li>
  </ul>
  <p><strong>IMPROVE GROUP BUSINESS</strong></p>
  <ul>
    <li><a href="/en/supplier-venue/rfp-metrics">Measure performance</a></li>
  </ul>
</div>
<div>
  <p><strong>WIN CORPORATE TRAVEL</strong></p>
  <ul>
    <li><a href="/en/supplier-venue/transient-grow">Grow corporate travel</a></li>
    <li><a href="/en/supplier-venue/transient-manage">Manage transient RFPs</a></li>
    <li><a href="/en/supplier-venue/transient-distribute">Distribute rates</a></li>
    <li><a href="/en/supplier-venue/transient-evaluate">Evaluate performance</a></li>
  </ul>
</div>
